[mygdrive]
type = drive
client_id = {{ rclone_client_id }}
client_secret = {{ rclone_client_secret }}
scope = drive
root_folder_id =
service_account_file =
token = {"access_token":"{{ rclone_access_token }}","token_type":"Bearer","refresh_token":"{{ rclone_refresh_token }}","expiry":"2018-06-27T23:16:31.161519239Z"}